@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Light";
  src: url("../assets/fonts/StudioFeixenSansTRIAL-Light.ttf");
}
@font-face {
  font-family: "Regular";
  src: url("../assets/fonts/StudioFeixenSansTRIAL-Regular.ttf");
}
@font-face {
  font-family: "Medium";
  src: url("../assets/fonts/StudioFeixenMonoTRIAL-Medium.ttf");
}
@font-face {
  font-family: "SemiBold";
  src: url("../assets/fonts/StudioFeixenSansTRIAL-SemiBold.ttf");
}
@font-face {
  font-family: "Bold";
  src: url("../assets/fonts/StudioFeixenSansTRIAL-Bold.ttf");
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: revert;
}

ul,
ol,
li {
  list-style: revert;
  padding: revert;
}

.myfont {
  font-family: "Regular";
}
.font-r {
  font-family: "Regular";
}
.font-l {
  font-family: "Light";
}
.font-m {
  font-family: "Medium";
}
.font-sb {
  font-family: "SemiBold";
}
.font-b {
  font-family: "Bold";
}

h1 {
  @apply text-2xl md:text-3xl lg:text-4xl font-bold;
}
h2 {
  @apply text-xl md:text-2xl lg:text-3xl font-bold;
}
h3 {
  @apply text-lg md:text-xl lg:text-2xl font-bold;
}
h4 {
  @apply text-lg lg:text-xl font-bold;
}
h5 {
  @apply text-base md:text-lg font-bold;
}
h6 {
  @apply text-base font-bold;
}
